.tablecard{
    overflow:hidden;
    padding: 5px;
    /* margin:250px 0;   */
    font-family: 'Ubuntu';
    background-color: white;
     transition: all 0.5s ease; 
    border-radius: 10px 0px 10px 0px;
    box-shadow: 0 0 15px rgb(224, 224, 224);
    
  }
  
  .tablecard:hover{
     box-shadow: 0 0 15px rgb(209, 209, 209); 
  
    }
  .headerTable{
    border-radius: 10px 10px 10px 10px;
    color: rgb(65, 65, 65);
    background-color: #ffc14eef;
  }
  
  
  @media (max-width: 280px) {
    .tablecard{
        margin-left: 10px;
       
        }
    }   
  
/* TABLE AVATAR STATUS */
  .projects .table-avatar img, .projects img.table-avatar {
      border-radius: 50%;
      display: inline;
      width: 2.5rem;
  }

  .card-status {
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: .75rem 1.25rem;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
